
<h2>Lazy Loaded Modules (with routerLink)</h2>
<button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="/">Home</button>

<section>
  <h2>Lazy Loaded Modules (with ViewContainerRef)</h2>
  <button (click)="loadComponentWithContainerRef()">Load Lazy Component </button>
</section>


<section>
  <h2>Lazy Loaded Modules (with ngComponentOutlet)</h2>
  <button (click)="loadComponent()"  *ngIf="!advancedSettings">
    Load Advanced Settings
  </button>
  <ng-container *ngComponentOutlet="advancedSettings"></ng-container>
</section>
====
<section>
  <h2>Lazy Load Component with RouterLink</h2>
  <button routerLink="/lazy">Go to component</button>
</section>

<hr>
<h1>Page</h1>
<router-outlet></router-outlet>
